body {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.interactive {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.interactive button {
    height: 10%;
    font-size: 1.3rem;
}

.move-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    border: 3px solid black;
    text-align: center;
}

.move-info p {
    margin: 0 1rem;
    font-size: 1.2rem;
}

